* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope";
}

.content {
  display: flex;
  background-color: #eee;
  width: 100vw;
  height: 100vh;
  padding: 20px;
}

.quiz {
  background-color: #d3d1d1;
  width: 600px;
  max-width: 100%;
  padding: 30px;
  margin: auto;
  border-radius: 10px;
  word-break: break-all;
}

.quiz .quiz-app {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 5px;
}

.quiz .quiz-app img {
  width: 50px;
}

.quiz .question {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
}

.quiz .answers {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quiz .answers button {
  padding: 15px;
  font-size: 16px;
  text-align: left;
  border-radius: 10px;
  outline: none;
  border: 1px solid #999;
  transition: all 0.3s;
  cursor: pointer;
}

.quiz .answers button:hover {
  border: 1px solid #333;
  background-color: #333;
  color: white;
}

button:disabled {
  pointer-events: none;
}

.next-btn {
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid #999;
  margin: 20px auto 0;
  font-size: 16px;
  display: block;
  cursor: pointer;
  transition: all 0.3s;
}

.next-btn:hover {
  background-color: #bbbbbb;
}

.correct {
  background-color: rgb(25, 135, 25) !important;
  border: 1px solid rgb(25, 135, 25) !important;
  color: white;
}

.incorrect {
  background-color: rgb(199, 38, 38) !important;
  border: 1px solid rgb(199, 38, 38) !important;
  color: white;
}

@media (max-width: 769px) {
  .quiz {
    padding: 30px 20px;
  }

  .quiz .question {
    text-align: center;
  }
}
